htdocs/src/pug/news/index.pug
//- META INFORMATION
- const page_title = 'News'
- const relativePath = '..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com/about/'
- const currentPage = 'about'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = true
- const isBootstrap = true


doctype html
html(lang="ja")
    head
        //- HEAD
        include ../_inc/_head.pug
    |
    |
    body.topPage
        //- HEADER
        include ../_inc/_siteHeader.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")
            .news
                .news__pageTitleBanner
                    .news__bannerBg
                    .news__pageTitle
                        h1.news__title News
                        h2.news__subTitle お知らせ
                .news__newsContent
                    ul.breadcrumb
                        li.breadcrumb__item
                            a.breadcrumb__home(href=`${relativePath}`) HOME
                        li.breadcrumb__item
                            a.breadcrumb__current(href=`${relativePath}/#caseStudy`) News
                        li.breadcrumb__item 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―

                    .news__news
                        .news__newsDateWrapper
                            span.news__newsDate 2021年2月11日

                        h3.news__newsTitle 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
                        .news__newsDescription 慶應義塾大学と東京歯科大学は、2023年4月をめどにした合併協議の開始を明らかにした。実現すれば、慶応大学には歯学部が設置され、さらに総合大学としての競争力強化が予想される。
                            br
                            | 東京歯科大学の歯学部の慶應義塾大学への統合および法人の合併について協議開始（プレスリリース）より抜粋。
                            br
                            | プレスリリースによると、東京歯科大学からの申し入れを受け、慶應義塾大学は11月26日の評議員会にて、歯学部統合と法人合併についての協議開始を決定したという。
                            br
                            | 慶応義塾大学は2008年に共立薬科大学を統合し、2001年には看護医療学部を新設している。今回の合併が成立すれば医・歯・薬・看護と揃うことになり、かなり大きなインパクトとなるだろう。この合併により、医科歯科の連携強化や、歯科領域へのテクノロジー応用による研究や教育の推進が期待される。
                        .news__newsImgWrapper
                            img.news__newsImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-01.png`, alt="")
                            

                    ul.pageLink
                        li.pageLink__item 
                            a.pageLink__link 戻る
                        li.pageLink__item 
                            a.pageLink__link 一覧に戻る
                        li.pageLink__item
                            a.pageLink__link 次へ


        //- FOOTER
        include ../_inc/_siteFooter.pug
        |
        |

htdocs/dist/news/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>News | Website Name</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, viewport-fit=cover">
    <meta name="keywords" content="this is meta keyworks">
    <meta name="description" content="this is meta description">
    <meta property="og:title" content="this is meta title">
    <meta property="og:type" content="website">
    <meta property="og:description" content="this is meta description">
    <meta property="og:url" content="http://website.com/about/">
    <meta property="og:image" content="../_assets/images/_etc/ogp.jpg">
    <meta property="fb:app_id" content="XXXXXXXXXXXXXXXX">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@XXXXX">
    <meta name="twitter:creator" content="@XXXXX">
    <meta name="twitter:image:src" content="../_assets/images/_etc/ogp.jpg">
    <link rel="icon" type="image/x-icon" href="../_assets/images/_etc/favicon.png">
    <link rel="icon" type="image/png" href="../_assets/images/_etc/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="../_assets/images/_etc/custom-icon.png">
    
    <!-- Styles-->
    <link rel="stylesheet" media="print,screen" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" media="print,screen" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/css/swiper.min.css">
    <link rel="stylesheet" media="print,screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" media="print,screen" href="../_assets/css/style.css">
  </head>
  
  <body class="topPage">
    <header class="siteHeader">
      <div class="siteHeader__logo"><a class="siteHeader__logoLink" href=".."><img class="siteHeader__logoImg" src="../_assets/images/common/logo.png" alt=""></a></div>
      <nav class="siteHeader__nav js-nav">
        <ul class="siteHeader__navList">
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#partners">PARTNERS</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#seminar">SEMINAR</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#news">NEWS</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#service">SERVICE</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#caseStudy">CASE STUDY</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#faq">FAQ</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#company">COMPANY</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#contact">CONTACT</a></li>
          <div class="siteHeader__socialMedia u-spDb"><a class="siteHeader__socialLink" href=""> <img class="siteHeader__socialIcon" src="../_assets/images/common/icon_fb.png" alt="facebook icon"></a><a class="siteHeader__socialLink" href=""> <img class="siteHeader__socialIcon" src="../_assets/images/common/icon_twitter.png" alt="twitter icon"></a></div>
        </ul>
      </nav>
      <div class="siteHeader__socialMedia u-pcDb"><a class="siteHeader__socialLink" href=""> <img class="siteHeader__socialIcon" src="../_assets/images/common/icon_fb.png" alt="facebook icon"></a><a class="siteHeader__socialLink" href=""> <img class="siteHeader__socialIcon" src="../_assets/images/common/icon_twitter.png" alt="twitter icon"></a></div>
      <div class="siteHeader__burgerBtn u-spDb js-bugerBtn"><span class="siteHeader__burgerLine"></span><span class="siteHeader__burgerLine"></span><span class="siteHeader__burgerLine"></span></div>
    </header>
    
    <main class="siteContent" role="main">
      <div class="news">
        <div class="news__pageTitleBanner">
          <div class="news__bannerBg"></div>
          <div class="news__pageTitle">
            <h1 class="news__title">News</h1>
            <h2 class="news__subTitle">お知らせ</h2>
          </div>
        </div>
        <div class="news__newsContent">
          <ul class="breadcrumb">
            <li class="breadcrumb__item"><a class="breadcrumb__home" href="..">HOME</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__current" href="../#caseStudy">News</a></li>
            <li class="breadcrumb__item">慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―</li>
          </ul>
          <div class="news__news">
            <div class="news__newsDateWrapper"><span class="news__newsDate">2021年2月11日</span></div>
            <h3 class="news__newsTitle">慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―</h3>
            <div class="news__newsDescription">慶應義塾大学と東京歯科大学は、2023年4月をめどにした合併協議の開始を明らかにした。実現すれば、慶応大学には歯学部が設置され、さらに総合大学としての競争力強化が予想される。<br>東京歯科大学の歯学部の慶應義塾大学への統合および法人の合併について協議開始（プレスリリース）より抜粋。<br>プレスリリースによると、東京歯科大学からの申し入れを受け、慶應義塾大学は11月26日の評議員会にて、歯学部統合と法人合併についての協議開始を決定したという。<br>慶応義塾大学は2008年に共立薬科大学を統合し、2001年には看護医療学部を新設している。今回の合併が成立すれば医・歯・薬・看護と揃うことになり、かなり大きなインパクトとなるだろう。この合併により、医科歯科の連携強化や、歯科領域へのテクノロジー応用による研究や教育の推進が期待される。</div>
            <div class="news__newsImgWrapper"><img class="news__newsImg" src="../_assets/images/caseStudy/caseStudy_img-01.png" alt=""></div>
          </div>
          <ul class="pageLink">
            <li class="pageLink__item"> <a class="pageLink__link">戻る</a></li>
            <li class="pageLink__item"> <a class="pageLink__link">一覧に戻る</a></li>
            <li class="pageLink__item"><a class="pageLink__link">次へ</a></li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="siteFooter">
      <div class="siteFooter__cont"><a class="siteFooter__toTop js-toTop" href="#"><img class="siteFooter__arrowUpIcon" src="../_assets/images/common/icon_arrow-up.svg" alt="twitter icon"></a>
        <div class="siteFooter__logo"><img class="siteFooter__logoImg" src="../_assets/images/common/logo.png" alt="plusk logo"></div>
        <div class="siteFooter__socialIcons"><a class="siteFooter__socialLink" href=""><img class="siteFooter__socialIcon" src="../_assets/images/common/icon_fb-gray.svg" alt="facebook icon"></a><a class="siteFooter__socialLink" href=""><img class="siteFooter__socialIcon" src="../_assets/images/common/icon_twitter-gray.svg" alt="twitter icon"></a></div>
        <ul class="siteFooter__linkList">
          <li class="siteFooter__linkItem"> <a class="siteFooter__link" href="">プライバシーポリシー</a></li>
          <li class="siteFooter__linkItem"><a class="siteFooter__link" href="">オプトアウト</a></li>
          <li class="siteFooter__linkItem"><a class="siteFooter__link" href="">個人情報を共同利用する企業およびサービス</a></li>
        </ul>
      </div>
      <p class="siteFooter__copyrights">&copy; PLUSK</p>
    </footer>
    
    <!-- Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="../_assets/js/bundle.js"></script>
    
  </body>
</html>
