htdocs/src/pug/caseStudy/index.pug
//- META INFORMATION
- const page_title = 'Case Study'
- const relativePath = '..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com/about/'
- const currentPage = 'about'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = true
- const isBootstrap = true


doctype html
html(lang="ja")
    head
        //- HEAD
        include ../_inc/_head.pug
    |
    |
    body.topPage
        //- HEADER
        include ../_inc/_siteHeader.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")
            .caseStudy
                .caseStudy__pageTitleBanner
                    .caseStudy__bannerBg
                    .caseStudy__pageTitle
                        h1.caseStudy__title Case Study
                        h2.caseStudy__subTitle 実績のご紹介
                .caseStudy__caseContent
                    ul.breadcrumb
                        li.breadcrumb__item
                            a.breadcrumb__home(href=`${relativePath}`) HOME
                        li.breadcrumb__item
                            a.breadcrumb__current(href=`${relativePath}/#caseStudy`) Case Study
                        li.breadcrumb__item 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。

                    .caseStudy__case
                        .caseStudy__caseDateWrapper
                            span.caseStudy__caseNum CASE. 30
                            span.caseStudy__caseDate 2021年2月11日

                        h3.caseStudy__caseTitle 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。

                        .caseStudy__caseBtnsWrapper
                            span.caseStudy__caseBtn 開業
                            span.caseStudy__caseBtn 医師の資産形成

                        .caseStudy__caseImgWrapper
                            img.caseStudy__caseImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-01.png`, alt="")

                        .caseStudy__caseInfoWrapper
                            h2.caseStudy__caseInfoTitle H2：地域に根ざした診療〜継承する形での開業を。

                            .caseStudy__caseInfoTextWrapper
                                p.caseStudy__caseInfoText 現在民間病院に勤務している小児科医のL先生は、半年ほど前から開業を考えるようになり、現在の勤務地から遠くない場所で開業地を探していました。そして様々な開業形態がある中にあってL先生が希望したのは、
                                ol.caseStudy__caseInfoTextList
                                    li.caseStudy__caseInfoTextItem 戸建てで不動産を自己所有する形
                                    li.caseStudy__caseInfoTextItem ベーシックな患者さんがいる施設を継承
                                p.caseStudy__caseInfoDescription というものでした。
                                    br
                                    | 出身も神奈川であるL先生は、地縁もあることからなるべく地元に根ざして長く診療を続けていきたいという希望を持っていました。また開業当初の患者確保に苦慮していた先輩開業医の経験談を聞くにつけ、良い条件のところがあれば既存の施設を継承する形で開業をしたいとも考えていたのです。
                                    br
                                    | そのような中でまもなく、開業コンサルタントを通じて紹介されたのが同じ市内で開業しているG小児科のG院長でした。G小児科は医療法人で、先代の先生が約40年前に有床診療所として開業して以来、地域の患者さんから安定して支持を集めているクリニックだったのですが、後継者がいないことに加えて近年G院長が体調面の不安を抱えており、遠からず誰かにクリニックを譲りたいとのお考えをお持ちでした。
                            
                        .caseStudy__caseImgWrapper
                            img.caseStudy__caseImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-01.png`, alt="")

                        .caseStudy__caseInfoWrapper
                            .caseStudy__caseInfoTextWrapper
                                p.caseStudy__caseInfoText  ただ、一方でG院長の条件としては、
                                ol.caseStudy__caseInfoTextList
                                    li.caseStudy__caseInfoTextItem ある程度の期間、短くても1年程度はL先生に非常勤でG小児科に勤務してもらい、徐々に引継ぎをした上で継承としたい
                                    li.caseStudy__caseInfoTextItem 現状の従業員はそのまま雇い続けて欲しい
                                    li.caseStudy__caseInfoTextItem 継承の際には、現状ある法人の財産を時価で全て買い取って欲しい
                                p.caseStudy__caseInfoDescription というものでした。
                                    br
                                    | 出身も神奈川であるL先生は、地縁もあることからなるべく地元に根ざして長く診療を続けていきたいという希望を持っていました。また開業当初の患者確保に苦慮していた先輩開業医の経験談を聞くにつけ、良い条件のところがあれば既存の施設を継承する形で開業をしたいとも考えていたのです。
                                    br
                                    | そのような中でまもなく、開業コンサルタントを通じて紹介されたのが同じ市内で開業しているG小児科のG院長でした。G小児科は医療法人で、先代の先生が約40年前に有床診療所として開業して以来、地域の患者さんから安定して支持を集めているクリニックだったのですが、後継者がいないことに加えて近年G院長が体調面の不安を抱えており、遠からず誰かにクリニックを譲りたいとのお考えをお持ちでした。

                        .caseStudy__caseInfoWrapper
                            h2.caseStudy__caseInfoTitle02 H3：地域に根ざした診療〜継承する形での開業を。

                            .caseStudy__caseInfoTextWrapper
                                p.caseStudy__caseInfoText 紹介されて面談し、お互いに真摯に地域医療に向き合っている姿勢に共感したL先生とG院長は、基本的に継承の合意をするに至りました。 物件選びは”出会い”でもあり、長く探してもなかなか希望に合った場所が見つからないケースもあれば、殆どあたらない段階で条件に合う物件に巡り会うこともあります。L先生のケースもまた早々に良い出会いがあったケースであると言えそうでしたが、さらにG院長は、しっかりと患者さんを診てくれるなら継承に伴う営業権などは一切いらないと言います。G小児科は、医師会の先生や仕入業者などから聞く地元の評判も良く、長く順調な経営を続けてきたことから金銭的な問題もなさそうです。また聞く限りにおいて診療面でのトラブル等もないようで、それらのリスクに関してはコンサルタントが用意した「継承契約書」をきちんと締結することで基本的にカバーできると判断ができました。 ただ、一方でG院長の条件としては、
                                ol.caseStudy__caseInfoTextList
                                    li.caseStudy__caseInfoTextItem ある程度の期間、短くても1年程度はL先生に非常勤でG小児科に勤務してもらい、徐々に引継ぎをした上で継承としたい
                                    li.caseStudy__caseInfoTextItem 現状の従業員はそのまま雇い続けて欲しい
                                    li.caseStudy__caseInfoTextItem 継承の際には、現状ある法人の財産を時価で全て買い取って欲しい
                                p.caseStudy__caseInfoDescription の点について、強い希望を持っていました。このうち、1と2については確認した結果問題なく対応できそうでしたが、3については少々慎重に対応する必要がありました。
                                    br
                                    | G小児科は医療法人であることから、具体的な事業継承は①「出資持分の買取」と②「社員、理事長及び役員の変更」ということになります。個人医院の継承には「医院の廃止・開設」の手続きが必要となり、また営業権を含めて実態財産の売買を個別に行う必要があることから、それに比較してシンプルに簡易な手続で済むメリットがありますが、問題は
                                    a.caseStudy__caseInfoDescription.u-textLink(href="") 「出資持分の買い取り価額」
                                    | の点にありました。
                                    br
                                    br
                                    | 出資持分は、経済的には会社で言うところの”株式”と同様に考えてよく、法人の全ての財産の現れであると言えますが、これはあくまで株主（医療法人の社員）が株(出資持分)を「個人の財産」として取得するものであり、事業に直接投資するのとは違います。
                                    br
                                    br
                                    | つまり、L先生がG院長から買い取る医療法人の出資持分の対価は、L先生個人が銀行などから資金調達する必要があり、またそれを短期間で回収することや借入金利を法人の経費などとすることもできないことになります。 ここで、直近のG小児科の財産債務の状態は下記のようなものでした。

                    ul.pageLink
                        li.pageLink__item 
                            a.pageLink__link 戻る
                        li.pageLink__item 
                            a.pageLink__link 一覧に戻る
                        li.pageLink__item
                            a.pageLink__link 次へ


        //- FOOTER
        include ../_inc/_siteFooter.pug
        |
        |

htdocs/dist/caseStudy/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Case Study | Website Name</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, viewport-fit=cover">
    <meta name="keywords" content="this is meta keyworks">
    <meta name="description" content="this is meta description">
    <meta property="og:title" content="this is meta title">
    <meta property="og:type" content="website">
    <meta property="og:description" content="this is meta description">
    <meta property="og:url" content="http://website.com/about/">
    <meta property="og:image" content="../_assets/images/_etc/ogp.jpg">
    <meta property="fb:app_id" content="XXXXXXXXXXXXXXXX">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@XXXXX">
    <meta name="twitter:creator" content="@XXXXX">
    <meta name="twitter:image:src" content="../_assets/images/_etc/ogp.jpg">
    <link rel="icon" type="image/x-icon" href="../_assets/images/_etc/favicon.png">
    <link rel="icon" type="image/png" href="../_assets/images/_etc/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="../_assets/images/_etc/custom-icon.png">
    
    <!-- Styles-->
    <link rel="stylesheet" media="print,screen" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" media="print,screen" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/css/swiper.min.css">
    <link rel="stylesheet" media="print,screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" media="print,screen" href="../_assets/css/style.css">
  </head>
  
  <body class="topPage">
    <header class="siteHeader">
      <div class="siteHeader__logo"><a class="siteHeader__logoLink" href=".."><img class="siteHeader__logoImg" src="../_assets/images/common/logo.png" alt=""></a></div>
      <nav class="siteHeader__nav js-nav">
        <ul class="siteHeader__navList">
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#partners">PARTNERS</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#seminar">SEMINAR</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#news">NEWS</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#service">SERVICE</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#caseStudy">CASE STUDY</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#faq">FAQ</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#company">COMPANY</a></li>
          <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../#contact">CONTACT</a></li>
          <div class="siteHeader__socialMedia u-spDb"><a class="siteHeader__socialLink" href=""> <img class="siteHeader__socialIcon" src="../_assets/images/common/icon_fb.png" alt="facebook icon"></a><a class="siteHeader__socialLink" href=""> <img class="siteHeader__socialIcon" src="../_assets/images/common/icon_twitter.png" alt="twitter icon"></a></div>
        </ul>
      </nav>
      <div class="siteHeader__socialMedia u-pcDb"><a class="siteHeader__socialLink" href=""> <img class="siteHeader__socialIcon" src="../_assets/images/common/icon_fb.png" alt="facebook icon"></a><a class="siteHeader__socialLink" href=""> <img class="siteHeader__socialIcon" src="../_assets/images/common/icon_twitter.png" alt="twitter icon"></a></div>
      <div class="siteHeader__burgerBtn u-spDb js-bugerBtn"><span class="siteHeader__burgerLine"></span><span class="siteHeader__burgerLine"></span><span class="siteHeader__burgerLine"></span></div>
    </header>
    
    <main class="siteContent" role="main">
      <div class="caseStudy">
        <div class="caseStudy__pageTitleBanner">
          <div class="caseStudy__bannerBg"></div>
          <div class="caseStudy__pageTitle">
            <h1 class="caseStudy__title">Case Study</h1>
            <h2 class="caseStudy__subTitle">実績のご紹介</h2>
          </div>
        </div>
        <div class="caseStudy__caseContent">
          <ul class="breadcrumb">
            <li class="breadcrumb__item"><a class="breadcrumb__home" href="..">HOME</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__current" href="../#caseStudy">Case Study</a></li>
            <li class="breadcrumb__item">仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。</li>
          </ul>
          <div class="caseStudy__case">
            <div class="caseStudy__caseDateWrapper"><span class="caseStudy__caseNum">CASE. 30</span><span class="caseStudy__caseDate">2021年2月11日</span></div>
            <h3 class="caseStudy__caseTitle">仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。</h3>
            <div class="caseStudy__caseBtnsWrapper"><span class="caseStudy__caseBtn">開業</span><span class="caseStudy__caseBtn">医師の資産形成</span></div>
            <div class="caseStudy__caseImgWrapper"><img class="caseStudy__caseImg" src="../_assets/images/caseStudy/caseStudy_img-01.png" alt=""></div>
            <div class="caseStudy__caseInfoWrapper">
              <h2 class="caseStudy__caseInfoTitle">H2：地域に根ざした診療〜継承する形での開業を。</h2>
              <div class="caseStudy__caseInfoTextWrapper">
                <p class="caseStudy__caseInfoText">現在民間病院に勤務している小児科医のL先生は、半年ほど前から開業を考えるようになり、現在の勤務地から遠くない場所で開業地を探していました。そして様々な開業形態がある中にあってL先生が希望したのは、</p>
                <ol class="caseStudy__caseInfoTextList">
                  <li class="caseStudy__caseInfoTextItem">戸建てで不動産を自己所有する形</li>
                  <li class="caseStudy__caseInfoTextItem">ベーシックな患者さんがいる施設を継承</li>
                </ol>
                <p class="caseStudy__caseInfoDescription">というものでした。<br>出身も神奈川であるL先生は、地縁もあることからなるべく地元に根ざして長く診療を続けていきたいという希望を持っていました。また開業当初の患者確保に苦慮していた先輩開業医の経験談を聞くにつけ、良い条件のところがあれば既存の施設を継承する形で開業をしたいとも考えていたのです。<br>そのような中でまもなく、開業コンサルタントを通じて紹介されたのが同じ市内で開業しているG小児科のG院長でした。G小児科は医療法人で、先代の先生が約40年前に有床診療所として開業して以来、地域の患者さんから安定して支持を集めているクリニックだったのですが、後継者がいないことに加えて近年G院長が体調面の不安を抱えており、遠からず誰かにクリニックを譲りたいとのお考えをお持ちでした。</p>
              </div>
            </div>
            <div class="caseStudy__caseImgWrapper"><img class="caseStudy__caseImg" src="../_assets/images/caseStudy/caseStudy_img-01.png" alt=""></div>
            <div class="caseStudy__caseInfoWrapper">
              <div class="caseStudy__caseInfoTextWrapper">
                <p class="caseStudy__caseInfoText"> ただ、一方でG院長の条件としては、</p>
                <ol class="caseStudy__caseInfoTextList">
                  <li class="caseStudy__caseInfoTextItem">ある程度の期間、短くても1年程度はL先生に非常勤でG小児科に勤務してもらい、徐々に引継ぎをした上で継承としたい</li>
                  <li class="caseStudy__caseInfoTextItem">現状の従業員はそのまま雇い続けて欲しい</li>
                  <li class="caseStudy__caseInfoTextItem">継承の際には、現状ある法人の財産を時価で全て買い取って欲しい</li>
                </ol>
                <p class="caseStudy__caseInfoDescription">というものでした。<br>出身も神奈川であるL先生は、地縁もあることからなるべく地元に根ざして長く診療を続けていきたいという希望を持っていました。また開業当初の患者確保に苦慮していた先輩開業医の経験談を聞くにつけ、良い条件のところがあれば既存の施設を継承する形で開業をしたいとも考えていたのです。<br>そのような中でまもなく、開業コンサルタントを通じて紹介されたのが同じ市内で開業しているG小児科のG院長でした。G小児科は医療法人で、先代の先生が約40年前に有床診療所として開業して以来、地域の患者さんから安定して支持を集めているクリニックだったのですが、後継者がいないことに加えて近年G院長が体調面の不安を抱えており、遠からず誰かにクリニックを譲りたいとのお考えをお持ちでした。</p>
              </div>
            </div>
            <div class="caseStudy__caseInfoWrapper">
              <h2 class="caseStudy__caseInfoTitle02">H3：地域に根ざした診療〜継承する形での開業を。</h2>
              <div class="caseStudy__caseInfoTextWrapper">
                <p class="caseStudy__caseInfoText">紹介されて面談し、お互いに真摯に地域医療に向き合っている姿勢に共感したL先生とG院長は、基本的に継承の合意をするに至りました。 物件選びは”出会い”でもあり、長く探してもなかなか希望に合った場所が見つからないケースもあれば、殆どあたらない段階で条件に合う物件に巡り会うこともあります。L先生のケースもまた早々に良い出会いがあったケースであると言えそうでしたが、さらにG院長は、しっかりと患者さんを診てくれるなら継承に伴う営業権などは一切いらないと言います。G小児科は、医師会の先生や仕入業者などから聞く地元の評判も良く、長く順調な経営を続けてきたことから金銭的な問題もなさそうです。また聞く限りにおいて診療面でのトラブル等もないようで、それらのリスクに関してはコンサルタントが用意した「継承契約書」をきちんと締結することで基本的にカバーできると判断ができました。 ただ、一方でG院長の条件としては、</p>
                <ol class="caseStudy__caseInfoTextList">
                  <li class="caseStudy__caseInfoTextItem">ある程度の期間、短くても1年程度はL先生に非常勤でG小児科に勤務してもらい、徐々に引継ぎをした上で継承としたい</li>
                  <li class="caseStudy__caseInfoTextItem">現状の従業員はそのまま雇い続けて欲しい</li>
                  <li class="caseStudy__caseInfoTextItem">継承の際には、現状ある法人の財産を時価で全て買い取って欲しい</li>
                </ol>
                <p class="caseStudy__caseInfoDescription">の点について、強い希望を持っていました。このうち、1と2については確認した結果問題なく対応できそうでしたが、3については少々慎重に対応する必要がありました。<br>G小児科は医療法人であることから、具体的な事業継承は①「出資持分の買取」と②「社員、理事長及び役員の変更」ということになります。個人医院の継承には「医院の廃止・開設」の手続きが必要となり、また営業権を含めて実態財産の売買を個別に行う必要があることから、それに比較してシンプルに簡易な手続で済むメリットがありますが、問題は<a class="caseStudy__caseInfoDescription u-textLink" href="">「出資持分の買い取り価額」</a>の点にありました。<br><br>出資持分は、経済的には会社で言うところの”株式”と同様に考えてよく、法人の全ての財産の現れであると言えますが、これはあくまで株主（医療法人の社員）が株(出資持分)を「個人の財産」として取得するものであり、事業に直接投資するのとは違います。<br><br>つまり、L先生がG院長から買い取る医療法人の出資持分の対価は、L先生個人が銀行などから資金調達する必要があり、またそれを短期間で回収することや借入金利を法人の経費などとすることもできないことになります。 ここで、直近のG小児科の財産債務の状態は下記のようなものでした。</p>
              </div>
            </div>
          </div>
          <ul class="pageLink">
            <li class="pageLink__item"> <a class="pageLink__link">戻る</a></li>
            <li class="pageLink__item"> <a class="pageLink__link">一覧に戻る</a></li>
            <li class="pageLink__item"><a class="pageLink__link">次へ</a></li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="siteFooter">
      <div class="siteFooter__cont"><a class="siteFooter__toTop js-toTop" href="#"><img class="siteFooter__arrowUpIcon" src="../_assets/images/common/icon_arrow-up.svg" alt="twitter icon"></a>
        <div class="siteFooter__logo"><img class="siteFooter__logoImg" src="../_assets/images/common/logo.png" alt="plusk logo"></div>
        <div class="siteFooter__socialIcons"><a class="siteFooter__socialLink" href=""><img class="siteFooter__socialIcon" src="../_assets/images/common/icon_fb-gray.svg" alt="facebook icon"></a><a class="siteFooter__socialLink" href=""><img class="siteFooter__socialIcon" src="../_assets/images/common/icon_twitter-gray.svg" alt="twitter icon"></a></div>
        <ul class="siteFooter__linkList">
          <li class="siteFooter__linkItem"> <a class="siteFooter__link" href="">プライバシーポリシー</a></li>
          <li class="siteFooter__linkItem"><a class="siteFooter__link" href="">オプトアウト</a></li>
          <li class="siteFooter__linkItem"><a class="siteFooter__link" href="">個人情報を共同利用する企業およびサービス</a></li>
        </ul>
      </div>
      <p class="siteFooter__copyrights">&copy; PLUSK</p>
    </footer>
    
    <!-- Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="../_assets/js/bundle.js"></script>
    
  </body>
</html>
